streamlit
openai
langchain
faiss-cpu
youtube-transcript-api==0.6.2
tiktoken
python-dotenv
sentence-transformers
deep_translator
pydub
SpeechRecognition
gTTS
whisper
sentence-transformers
openai>=1.0.0
openai-whisper
ffmpeg-python
torch
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git@master
